html, body, #app, #container, main, #rendered-html {
    height: 100%;
  }
  
  #rendered-html {
    width: 100%;
  }

  .internal {
    color: rgb(141, 141, 141);
  }

  .panel {
    border: 2px solid black;
    padding: 10px;
  }